# APPLY 與 JOIN 的差別

你可能知道 SQL Server 中的 JOIN 作業用於聯結兩個或多個資料表。但是在 SQL Server 中，不能使用 JOIN 作業將資料表與資料表值函式的輸出聯結起來。如果你沒有聽說過資料表值函數，這些函式是以資料表的形式傳回資料。為了聯結兩個資料表運算式，SQL Server 2005 引入了 APPLY 運算子。在這個 mod 中我們將學習 APPLY 運算子與一般 JOIN 有何不同。

# 關於 CROSS APPLY 和 OUTER APPLY

SQL Server 的 APPLY 運算子有兩種變體：CROSS APPLY 和 OUTER APPLY：

CROSS APPLY 運算子僅傳回左邊資料表運算式（在其最終輸出中）中與右邊資料表運算式符合的列。
因此，CROSS APPLY 類似於 INNER JOIN，或者更準確地說，類似於具有隱含聯結條件 1 = 1 的相關子査詢的 CROSS JOIN。

OUTER APPLY 運算子傳回左邊資料表運算式中的所有列，無論其與右邊資料表運算式是否符合。對於右邊資料表運算式中沒有對應符合項目的列，它在右邊資料表運算式的欄中傳回 NULL 值。因此，OUTER APPLY 相當於 LEFT OUTER JOIN。雖然可以使用普通 JOIN 編寫相同的査詢，但當右邊有一個資料表值運算式，並且希望對左邊資料表值運算式中的每一列計算該資料表值運算式時，就需要使用 APPLY。此外，在某些情况下，使用 APPLY 運算子可以提高査詢效能。

讓我們通過一些範例進一步探討 APPLY 運算子。

### 範例01

建立資料表 Department。

In [ ]:
CREATE TABLE Department (
    DepartmentID INT PRIMARY KEY IDENTITY (1, 1),
    Name VARCHAR(250) NOT NULL
)

建立資料表 Employee。

In [ ]:
CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY IDENTITY (1, 1),
    FirstName VARCHAR(250) NOT NULL,
    LastName VARCHAR(250) NOT NULL,
    DepartmentID NOT NULL
)

建立範例資料。

In [ ]:
INSERT [Department] ([DepartmentID], [Name])  
VALUES (1, N'Engineering') 
INSERT [Department] ([DepartmentID], [Name])  
VALUES (2, N'Administration') 
INSERT [Department] ([DepartmentID], [Name])  
VALUES (3, N'Sales') 
INSERT [Department] ([DepartmentID], [Name])  
VALUES (4, N'Marketing') 
INSERT [Department] ([DepartmentID], [Name])  
VALUES (5, N'Finance') 
GO 
 
INSERT [Employee] ([EmployeeID], [FirstName], [LastName], [DepartmentID]) 
VALUES (1, N'Orlando', N'Gee', 1 ) 
INSERT [Employee] ([EmployeeID], [FirstName], [LastName], [DepartmentID]) 
VALUES (2, N'Keith', N'Harris', 2 ) 
INSERT [Employee] ([EmployeeID], [FirstName], [LastName], [DepartmentID]) 
VALUES (3, N'Donna', N'Carreras', 3 ) 
INSERT [Employee] ([EmployeeID], [FirstName], [LastName], [DepartmentID]) 
VALUES (4, N'Janet', N'Gates', 3 )

##### CROSS APPLY 與 INNER JOIN 的比較

這是一個由兩部分組成的査詢：第一個査詢從 Department 資料表中選取資料，並使用 CROSS APPLY 為 Department 資料表的每筆記錄評估 Employee 資料表；第二個査詢只是將 Department 資料表與 Employee 資料表聯結起來，以產生相同的結果：

In [ ]:
SELECT * FROM Department D
CROSS APPLY
   (
       SELECT * FROM Employee E 
       WHERE E.DepartmentID = D.DepartmentID
   ) A

### 範例01

In [ ]:
SELECT aa.serial_id,
                [user],
                district_prosecutors_serial_id,
                hp.serial_id hr_prosecution_serial_id,
                t.serial_id  ac_group_serial_id,
                t.[name]     ac_group_name
            FROM   ac_account aa
                JOIN hr_prosecution hp
                    ON hp.serial_id = aa.owner_serial_id
                OUTER apply (SELECT TOP 1 ag.serial_id,
                                            ag.[name]
                                FROM   ac_member am
                                    JOIN ac_group ag
                                        ON ag.serial_id = am.ac_group_serial_id
                                WHERE  am.ac_account_serial_id = aa.serial_id
                                ORDER  BY am.serial_id DESC) t
            WHERE  
                ( aa.sys <> 'Y' OR aa.sys IS NULL )   
            ORDER  BY aa.serial_id