參考文章1: http://hhcmax.blogspot.com/2008/03/triggerafterbefore.html

參考文章2: https://dotblogs.com.tw/jamesfu/2014/06/20/triggersample

### 範例01

In [ ]:
CREATE TRIGGER take_off_insert_datetime_conversion_trigger ON dbo.take_off
INSTEAD OF INSERT
AS
PRINT '執行 take_off_insert_datetime_conversion_trigger'

IF EXISTS(SELECT 1 FROM INSERTED WHERE start_datetime is null)
BEGIN
	DECLARE @start datetimeoffset
	SELECT @start= 	ToDateTimeOffset(concat(start_year,'-', start_month, '-',start_day,' ',start_hour, ':', start_minute), DATEPART(TZOFFSET, SYSDATETIMEOFFSET())) FROM INSERTED
	DECLARE @end datetimeoffset
	SELECT @end = ToDateTimeOffset(concat(end_year,'-', end_month, '-',end_day,' ',end_hour, ':', end_minute), DATEPART(TZOFFSET, SYSDATETIMEOFFSET())) FROM INSERTED
	
	INSERT INTO dbo.take_off 
	   SELECT [district_prosecutors_serial_id], 
	          [hr_criminal_serial_id], 
			  [caseprj_serial_id], 
			  [start_year], 
			  [start_month], 
			  [start_day], 
			  [start_hour], 
			  [start_minute], 
			  [end_year], 
			  [end_month], 
			  [end_day], 
			  [end_hour], 
			  [end_minute], 
			  [reason], 
			  [note], 
			  [noticesystem_serial_id], 
			  [t_year], 
			  [t_month], 
			  [t_day], 
			  [t_hour], 
			  [t_minute], 
			  [t_sec], 
			  [str_take_off_date], 
			  [str_take_off_time], 
			  [end_take_off_date], 
			  [end_take_off_time], 
			  [insdt], 
			  [insuid], 
			  [insunm], 
			  [upddt], 
			  [upduid], 
			  [updunm], 
			  [ipaddress], 
			  @start, 
			  @end
	   FROM INSERTED

END

IF EXISTS(SELECT 1 FROM INSERTED WHERE start_year is null)
BEGIN
	INSERT INTO dbo.take_off 
	   SELECT [district_prosecutors_serial_id], 
	          [hr_criminal_serial_id], 
			  [caseprj_serial_id], 
			  DATEPART(YEAR, start_datetime), 
			  DATEPART(MONTH, start_datetime), 
			  DATEPART(DAY, start_datetime), 
			  DATEPART(HOUR, start_datetime), 
			  DATEPART(MINUTE, start_datetime), 
			  DATEPART(YEAR, end_datetime), 
			  DATEPART(MONTH, end_datetime), 
			  DATEPART(DAY, end_datetime), 
			  DATEPART(HOUR, end_datetime), 
			  DATEPART(SECOND, end_datetime), 
			  [reason], 
			  [note], 
			  [noticesystem_serial_id], 
			  [t_year], 
			  [t_month], 
			  [t_day], 
			  [t_hour], 
			  [t_minute], 
			  [t_sec], 
			  [str_take_off_date], 
			  [str_take_off_time], 
			  [end_take_off_date], 
			  [end_take_off_time], 
			  [insdt], 
			  [insuid], 
			  [insunm], 
			  [upddt], 
			  [upduid], 
			  [updunm], 
			  [ipaddress], 
			  [start_datetime],
			  [end_datetime]
	   FROM INSERTED

END
GO

### 範例02

In [ ]:
CREATE TRIGGER take_off_update_datetime_conversion_trigger ON dbo.take_off
INSTEAD OF UPDATE
AS
PRINT '執行 take_off_update_datetime_conversion_trigger'

DECLARE @old_start_year int,
		@old_start_month int,
	    @old_start_day int ,
		@old_start_hour int ,
		@old_start_minute int ,
		@old_end_year int ,
		@old_end_month int,
		@old_end_day int ,
		@old_end_hour int ,
		@old_end_minute int,
		@old_start_datetime datetimeoffset,
		@old_end_datetime datetimeoffset,
		@new_start_year int,
		@new_start_month int,
	    @new_start_day int ,
		@new_start_hour int ,
		@new_start_minute int ,
		@new_end_year int ,
		@new_end_month int,
		@new_end_day int ,
		@new_end_hour int ,
		@new_end_minute int,
	    @new_start_datetime datetimeoffset,
		@new_end_datetime datetimeoffset

SELECT @old_start_year =  start_year FROM DELETED
SELECT @old_start_month =  start_month FROM DELETED
SELECT @old_start_day =  start_day FROM DELETED
SELECT @old_start_hour =  start_hour FROM DELETED
SELECT @old_start_minute =  start_minute FROM DELETED
SELECT @old_end_year =  end_year FROM DELETED
SELECT @old_end_month =  end_month FROM DELETED
SELECT @old_end_day =  end_day FROM DELETED
SELECT @old_end_hour =  end_hour FROM DELETED
SELECT @old_end_minute =  end_minute FROM DELETED
SELECT @old_start_datetime = start_datetime FROM DELETED
SELECT @old_end_datetime = end_datetime FROM DELETED
SELECT @new_start_year =  start_year FROM INSERTED
SELECT @new_start_month =  start_month FROM INSERTED
SELECT @new_start_day =  start_day FROM INSERTED
SELECT @new_start_hour =  start_hour FROM INSERTED
SELECT @new_start_minute =  start_minute FROM INSERTED
SELECT @new_end_year =  end_year FROM INSERTED
SELECT @new_end_month =  end_month FROM INSERTED
SELECT @new_end_day =  end_day FROM INSERTED
SELECT @new_end_hour =  end_hour FROM INSERTED
SELECT @new_end_minute =  end_minute FROM INSERTED
SELECT @new_start_datetime = start_datetime FROM INSERTED
SELECT @new_end_datetime = end_datetime FROM INSERTED



IF (@old_start_year <> @new_start_year) OR (@old_start_month <> @new_start_month) OR (@old_start_day <> @new_start_day) OR (@old_start_hour <> @new_start_hour) OR (@old_start_minute <> @new_start_minute) OR 
   (@old_end_year <> @new_end_year) OR (@old_end_month <> @new_end_month) OR (@old_end_day <> @new_end_day) OR (@old_end_hour <> @new_end_hour) OR (@old_end_minute <> @new_end_minute) 

BEGIN
	UPDATE t
	SET t.start_year = i.start_year,
	    t.start_month = i.start_month,
		t.start_day = i.start_day,
		t.start_hour = i.start_hour,
		t.start_minute = i.start_minute,
		t.end_year = i.end_year,
		t.end_month = i.end_month,
		t.end_day = i.end_day,
		t.end_hour = i.end_hour,
		t.end_minute = i.end_minute,
		t.start_datetime = ToDateTimeOffset(concat(i.start_year,'-', i.start_month, '-',i.start_day,' ',i.start_hour, ':', i.start_minute), DATEPART(TZOFFSET, SYSDATETIMEOFFSET())),
		t.end_datetime = ToDateTimeOffset(concat(i.end_year,'-', i.end_month, '-',i.end_day,' ',i.end_hour, ':', i.end_minute), DATEPART(TZOFFSET, SYSDATETIMEOFFSET()))
	FROM dbo.take_off t join INSERTED i
	ON t.serial_id = i.serial_id
END

IF (@old_start_datetime <> @new_start_datetime) OR (@old_end_datetime <> @new_end_datetime)
BEGIN
	UPDATE t
	SET t.start_datetime = i.start_datetime,
	    t.end_datetime = i.end_datetime,
		t.start_year = DATEPART(YEAR, i.start_datetime),
		t.start_month = DATEPART(MONTH, i.start_datetime),
		t.start_day = DATEPART(DAY, i.start_datetime),
		t.start_hour = DATEPART(HOUR, i.start_datetime),
		t.start_minute = DATEPART(MINUTE, i.start_datetime),
		t.end_year = DATEPART(YEAR, i.end_datetime),
		t.end_month = DATEPART(MONTH, i.end_datetime),
		t.end_day = DATEPART(DAY, i.end_datetime),
		t.end_hour = DATEPART(HOUR, i.end_datetime),
		t.end_minute = DATEPART(MINUTE, i.end_datetime)
	FROM dbo.take_off t join INSERTED i
	ON t.serial_id = i.serial_id

END
GO