### 參考: https://stackoverflow.com/questions/8038744/convert-datetime-column-from-utc-to-local-time-in-select-statement

In [ ]:
SELECT start_datetime, CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                    start_datetime AT TIME ZONE 'UTC'), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) 
       AS ColumnInLocalTime
FROM take_off