# View 檢視表、視圖

參考文章: https://www.fooish.com/sql/view.html

View 是藉由 SQL SELECT 查詢動態組合生成的資料表 (亦即 View 是由查詢得到的結果集組合而成的資料表)。View 內的資料紀錄是由其它實際存在的資料表中產生的，它就像是一個虛擬資料表，實際上資料庫 (或說是硬碟) 裡面是不存在這一個資料表的 (只存在此 View 的相關定義)，但是我們使用上卻有如實際存在的資料表 - 所有的 SQL 查詢語法都可以操作在此 View 上。

資料表是一種實體結構 (physical structure)，而 View 是一種虛擬結構 (virtual structure)。

# View 有哪些特性

加強資料庫的安全性，View 可以將實體資料表結構隱藏起來，同時限制使用者只可以檢視及使用哪些資料表欄位。
檢視表是唯讀的，亦即外部使用者無法直接透過 View 去修改內部資料。
將複雜的 SQL 查詢包裝在 View 中，可以簡化查詢的複雜度。
當資料表結構有變更時，只需要更改 View 的設定，不需更改程式。

# 建立 View

CREATE VIEW view_name [(column_list)] AS
SELECT column_name(s)
FROM table_name
WHERE condition;

### 範例01

一個 View 可以由查詢實體資料表而建立，亦可以查詢其它已存在的 View 而建立。

In [ ]:
CREATE VIEW view_example AS 
SELECT qty, price, qty*price AS value 
FROM product_table;

# 更新 View

如果加上 OR REPLACE 子句的意思就是若同名的 View 已經存在就覆蓋取代它。如果 View 不存在，我們可以把 CREATE OR REPLACE VIEW 看做是如同 CREATE VIEW；而如果 View 已存在，我們可以把 CREATE OR REPLACE VIEW 看做是 ALTER VIEW。

In [ ]:
CREATE OR REPLACE VIEW view_name [(column_list)] AS
SELECT column_name(s)
FROM table_name
WHERE condition;

# 刪除 View

DROP VIEW view_name;

### 範例02

假設這是一個產品訂單資料表 p_orders：

<img src='./img/17.png'>

我們可以建立一個方便查詢各產品售出總額的 View：

In [ ]:
CREATE VIEW view_p_sum (Product, P_SUM) AS
SELECT Product, Price*Quantity 
FROM p_orders 
GROUP BY Product;

接著，你就可以像操作一般資料表：

<img src='./img/18.png'>

### 範例03

In [ ]:
CREATE VIEW v_badge_count AS

WITH cte AS (
SELECT hr_prosecution_serial_id, 
       0 AS noticesystem,
	   0 AS take_off,
	   0 AS survey_information,
	   COUNT(*) AS survey_dispatch,
	   0 AS major_alarm,
	   0 AS message_alarm
FROM survey_dispatch
WHERE current_state <> 'complete'
GROUP BY hr_prosecution_serial_id

UNION ALL

SELECT hr_prosecution_serial_id, 
       0 AS noticesystem,
	   0 AS take_off,
	   COUNT(*) AS survey_information,
	   0 AS survey_dispatch,
	   0 AS major_alarm,
	   0 AS message_alarm
FROM survey_information
WHERE current_state <> 'complete'
GROUP BY hr_prosecution_serial_id

UNION ALL

SELECT hr_prosecution_serial_id,
       0 AS noticesystem,
	   COUNT(*) AS take_off,
	   0 AS survey_information,
	   0 AS survey_dispatch,
	   0 AS major_alarm,
	   0 AS message_alarm
FROM take_off_hr_prosecution
WHERE read_datetime is  null or  read_datetime = ''
GROUP BY hr_prosecution_serial_id

UNION ALL 

SELECT hr_prosecution_serial_id,
       COUNT(*) AS noticesystem,
	   0 AS take_off,
	   0 AS survey_information,
	   0 AS survey_dispatch,
	   0 AS major_alarm,
	   0 AS message_alarm
FROM noticesystem_hr_prosecution
WHERE read_datetime is  null or  read_datetime = ''
GROUP BY hr_prosecution_serial_id

UNION ALL

SELECT hr_prosecution.serial_id,
	   0 AS noticesystem,
	   0 AS take_off,
	   0 AS survey_information,
	   0 AS survey_dispatch,
	   COUNT (hr_prosecution.serial_id) AS major_alarm,
	   0 AS message_alarm
FROM v_major_alarm
JOIN hr_prosecution ON hr_prosecution.district_prosecutors_serial_id = v_major_alarm.district_prosecutors_serial_id 
WHERE current_state = 'pending' 
GROUP BY hr_prosecution.serial_id


UNION ALL

SELECT hr_prosecution_serial_id,
       0 AS noticesystem,
	   0 AS take_off,
	   0 AS survey_information,
	   0 AS survey_dispatch,
	   0 AS major_alarm,
	   COUNT(*) AS message_alarm
FROM message_alarm_hr_prosecution
WHERE read_datetime is  null or  read_datetime = ''
GROUP BY hr_prosecution_serial_id
)

SELECT  hr_prosecution_serial_id,
        sum(noticesystem) AS noticesystem,
		sum(take_off) AS take_off,
		sum(survey_information) AS survey_information,
		sum(survey_dispatch) AS survey_dispatch,
		sum(major_alarm) AS major_alarm,
		sum(message_alarm) AS message_alarm
FROM cte 
GROUP BY hr_prosecution_serial_id
GO

### 範例04

In [ ]:
CREATE VIEW [dbo].[v_major_alarm] AS SELECT
	noticesystem.serial_id,
	hr_criminal_serial_id,
	caseprj_serial_id,
	district_prosecutors_serial_id,
	message_alarm_serial_id,
	subject_type_serial_id,
	result_class.class AS category,
	result AS content,
	notice_date,
	notice_time,
	vio_flag,
	other_content AS response,
CASE
		
		WHEN subject_type_serial_id = 1 AND vio_flag <> 'P' THEN
		CASE
			WHEN ( vio_flag IS NULL OR vio_flag = '' ) THEN 'pending' 
            ELSE 'complete' 
		END 
        
        ELSE NULL 
END AS current_state,

		insdt,
		insuid,
		insunm,
		upddt,
		upduid,
		updunm 
	FROM
		noticesystem
		LEFT JOIN result_class ON result_class.serial_id = noticesystem.res_class 
WHERE
	subject_type_serial_id IN ( 1, 2 )
GO