# Stored Procedure 預存程序

- 是一個 T-SQL 陳述式之集合
- 有點類似其他語言中的 函數(function) 或是 方法(method, subroutine)
- 可以透過呼叫這些預存程序之名稱來執行對應陳述式集合(命令集)

Stored Procedure 優點:
    
- 為資料庫物件(DataBase Objects)，存置於 DB 中
- 將方法功能進行封裝
- 可以確保功能是能夠跨應用程式做調用呼叫的
- 比起常規查詢來的更有效率! 試想假若商業邏輯因過於複雜使 SQL 陳述過長又龐大，這時若仍直接 ado.net 傳送一大串 SQL 就會導致網路傳輸量過
  多也會較耗費時間。但若改為 SP 則用戶端 (client) 只會傳遞 SP Name 給 SQL Server 就可節省傳輸量。

<img src='img/1.png'>

# 為何要學習  Stored Procedure 這項技術

在大型企業公司中 多半系統是伴隨著 DB (可視為系統命脈) 做連動性交互，也因此時常會遇到 DB 之間可能存有同一時間在多個大系統做類似 DB 操作的程式運行。功能可能一樣，也可能不一樣。有的甚至是像打棒球或是接力賽交接棒、傳球之概念般。可能做 DB 操作回傳之結果會從 A 系統做完一些處裡再傳給 B 系統再跑到 C 系統去.....更可能反敘倒回來。

所以會有不只一個應用程式(系統)去對 DB 資料表做搜尋、更新.....等等。由上述示意圖可以看到黃色方框可以理解為每個不同部門或者單位各自所掌管之系統，可能都有存在一段程式是對 DB 中做更新的操作。

假設四個不同應用系統都在 Local 端，所運行的這區塊程式功能都是做一樣的事情時，當一有功能調整，此時你會有需要對四個地方去做同樣調整，共需要做四次更改，這是違背開發上降低重複動作設計觀念的。

預存程序之優點就在於可以集中控管做功能代碼修改之存取處裡，功能版本統一更新(一次到位)，Stored Procedure 就是一種被各個不同應用程式呼叫的一個 T-SQL 執行命令集。

# 建立  Stored Procedure

假設我們目前要做的一串命令集如下，會有極高重複使用可能，所以我們建立了 ProdOrders 的預存程式。可以在 可程式性 --> 預存程序 --> 系統預存程序中找到。

In [ ]:
CREATE PROC ProdOrders
AS
SELECT Position, sum(AnnualSalary) as TotalSalary
FROM Employee
WHERE Address = 'taipei'
GROUP BY Position
GO

# 執行 Stored Procedure

### 方法一: EXEC 預存程序名

In [ ]:
EXEC ProdOrders

### 方法二: 直接輸入預存程序名

In [ ]:
ProdOrders

# 修改 Stored Procedure

假設今天要更改為其他 Address 時，我們就將 CREATE 改成  ALTER 之後更改再執行即可。

In [ ]:
ALTER PROC ProdOrders
AS
SELECT Position, sum(AnnualSalary) as TotalSalary
FROM Employee
WHERE Address = 'taichung'
GROUP BY Position
GO

# 預存程序傳入參數

如此一來我就可以更為彈性透過變數傳入去指定對應更新。

In [ ]:
CREATE PROC ProdOrdersID
(
@Address varchar(10)
)
AS
SELECT Position, sum(AnnualSalary) as TotalSalary
FROM Employee
WHERE Address = @Address
GROUP BY Position
GO

In [ ]:
EXEC ProdOrdersID "taipei"

# 建立 sp 的細節

stored procedure 命名勿使用 sp_ 開頭，因為使用 sp_ 開頭的預設都會先至 SQL Server 的 master database 搜尋完後，才會搜尋現階段連線的 database，不僅耗時更容易有機會出錯 (比方跟 master db 存有的 sp 撞名)。

### 範例 1 - 曲線

In [ ]:
ALTER PROCEDURE   [dbo].[tag_battery]
	-- Add the parameters for the stored procedure here
	@begin date,
	@end date,
	@id nvarchar(5),
	@begin_h nvarchar(2)  = '0',
	@end_h nvarchar(2)  = '23'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @year    nvarchar(5) = DATEPART(YEAR, @begin)
	declare @begin_m nvarchar(3) = DATEPART(MONTH, @begin)
	declare @begin_d nvarchar(3) = DATEPART(DAY, @begin)
	declare @end_m   nvarchar(3) = DATEPART(MONTH, @end)
	declare @end_d   nvarchar(3) = DATEPART(DAY, @end)

	set @id = ltrim(rtrim(@id))

	declare @gpstag table (dt datetime, voltage int, gsm_sen int, mv int, ma int, mah int )
	declare @tag_exits char = case when EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'rf_message_tag_00'+ @id+'_' + @year) then '1' else '0' end

	declare @sql as nvarchar(max) 
    
#     {'begin_gpsdate': '20230301', 'end_gpsdate': '20230316', 'begin_gpstime': '000000', 'end_gpstime': '235959'}
	
    declare @begin_gpsdate nvarchar(10) = convert(varchar, convert(date,concat(@year,'/',@begin_m,'/',@begin_d)), 112)
	declare @end_gpsdate nvarchar(10) = convert(varchar, convert(date,concat(@year,'/',@end_m,'/',@end_d)), 112)
	declare @begin_gpstime nvarchar(10) = replace(convert(varchar, convert(time, concat(@begin_h,':0:0')), 108),':','')
	declare @end_gpstime nvarchar(10) = replace(convert(varchar, convert(time, concat(@end_h,':59:59')), 108),':','')

    
	set @sql = case when @tag_exits ='1' then 
		'select * from (
			select convert(datetime, concat(
			datepart(YEAR, dt), ''/'' ,
			datepart(MONTH, dt), ''/'' ,
			datepart(DAY, dt)  , '' '',
			datepart(HOUR, dt) , '':'',
			(datepart(MINUTE, dt) / 10), ''0'')) as dt , avg(voltage) as voltage, avg(gsm_sen) as gsm_sen, avg(mv) as mv, avg(ma) as ma, avg(mah) as mah
			from (
				select convert(datetime,
					concat(
						gpsdate,'' '', 
						substring(gpstime, 1,2),'':'',
						substring(gpstime, 3,2),'':'',
						substring(gpstime, 5,2))
				) as dt, voltage, gsm_sen, mv, ma, mah 
				from rf_message_gps_00' + @id +'_' + @year +' 
				where (
					gpsdate > ' + @begin_gpsdate + ' 
					or 
					( gpsdate = ' + @begin_gpsdate + ' and gpstime >= ' + @begin_gpstime + ')
				) and ( 
					gpsdate < ' + @end_gpsdate + '
					or 
					( gpsdate = ' + @end_gpsdate + ' and gpstime <= ' + @end_gpstime + ')
				)
				union
				select 
					convert(datetime,
						concat(
							' + @year + ', 
							RIGHT(''00''+ CAST(t_month  AS VARCHAR(2)),2), 
							RIGHT(''00''+ CAST(t_day    AS VARCHAR(2)),2),'' '', 
							RIGHT(''00''+ CAST(t_hour   AS VARCHAR(2)),2),'':'', 
							RIGHT(''00''+ CAST(t_minute AS VARCHAR(2)),2),'':'', 
							RIGHT(''00''+ CAST(t_sec    AS VARCHAR(2)),2))
					) as dt , voltage, null as gsm_sen, null as mv, null as ma, null as mah
				from rf_message_tag_00' + @id +'_' + @year +' 
				where
				(
					t_month > ' + @begin_m + '
					or 
					(t_month = ' + @begin_m + ' and t_day >' + @begin_d + ') 
					or 
					(t_month = ' + @begin_m + ' and t_day =' + @begin_d + ' and t_hour >=' + @begin_h + ') 
				)
				and (
					t_month < ' + @end_m + '
					or 
					(t_month = ' + @end_m + ' and t_day <' + @end_d + ') 
					or 
					(t_month = ' + @end_m + ' and t_day =' + @end_d + ' and t_hour <=' + @end_h + ') 
				)
			) as a 
			group by 
			datepart(YEAR, dt),
			datepart(MONTH, dt),
			datepart(DAY, dt),
			datepart(HOUR, dt),
			(datepart(MINUTE, dt) / 10) 
		) as b 
		order by dt'
	else
		'select * from (
			select convert(datetime, concat(
			datepart(YEAR, dt), ''/'' ,
			datepart(MONTH, dt), ''/'' ,
			datepart(DAY, dt)  , '' '',
			datepart(HOUR, dt) , '':'',
			(datepart(MINUTE, dt) / 10), ''0'')) as dt , avg(voltage) as voltage, avg(gsm_sen) as gsm_sen, avg(mv) as mv, avg(ma) as ma, avg(mah) as mah
			from (
				select convert(datetime,
					concat(
						gpsdate,'' '', 
						substring(gpstime, 1,2),'':'',
						substring(gpstime, 3,2),'':'',
						substring(gpstime, 5,2))
				) as dt, voltage, gsm_sen, mv, ma, mah 
				from rf_message_gps_00' + @id +'_' + @year +' 
				where (
					gpsdate > ' + @begin_gpsdate + ' 
					or 
					( gpsdate = ' + @begin_gpsdate + ' and gpstime >= ' + @begin_gpstime + ')
				) and ( 
					gpsdate < ' + @end_gpsdate + '
					or 
					( gpsdate = ' + @end_gpsdate + ' and gpstime <= ' + @end_gpstime + ')
				)
			) as a 
			group by 
			datepart(YEAR, dt),
			datepart(MONTH, dt),
			datepart(DAY, dt),
			datepart(HOUR, dt),
			(datepart(MINUTE, dt) / 10) 
		) as b 
		order by dt'
		end
	exec(@sql)
END

### 範例2 - 充電

In [ ]:
declare @id nvarchar(5) = {{ id }}
declare @begin date = {{ begin }}
declare @end date = {{ end }}


declare @temp table(dt datetime, voltage float, gsm_sen float, mv int, ma int, mah int)
insert into @temp exec dbo.tag_battery @begin, @end, @id

select 
    row_number() over(order by dt) as serial_id, 
    dt, 
    voltage 
into #TempTable2 
from @temp

declare @serial_id int;
declare @bottom_dt datetime  = (select top 1 dt from #TempTable2 order by serial_id )
declare @bottom_voltage int  = (select top 1 voltage from #TempTable2 order by serial_id )
declare @pre_voltage int = @bottom_voltage
declare @pre_dt datetime = @bottom_dt
declare @charge tinyint = 0
DECLARE @out TABLE (
start_dt datetime, 
start_v int,
end_dt datetime, 
end_v int, 
charge_v int, 
charge_h float
)
while ( select count(*) from #TempTable2) >0 
	begin 
	     declare @voltage int 
	     declare @dt datetime 
		 Select Top 1 @serial_id = serial_id, @dt = dt, @voltage =voltage  From #TempTable2 order by serial_id 

		 if @voltage > @pre_voltage and @charge = 0 
			begin 
			  set @bottom_voltage = @pre_voltage
			  set @bottom_dt = @pre_dt
			  set @charge = 1
			end 
		 if ((@voltage < @pre_voltage or @pre_voltage =100 ) and @charge = 1)
            begin
				insert into @out (start_dt,start_v,end_dt,end_v, charge_v,charge_h ) select @bottom_dt,@bottom_voltage, @pre_dt, @pre_voltage, @pre_voltage-@bottom_voltage , round(cast(DATEDIFF(MINUTE, @bottom_dt, @pre_dt)as float) / cast(60 as float),2)
				set @charge = 0
			end
		 if ( ( select count(*) from #TempTable2) = 1 and @charge = 1)
			begin 
				insert into @out (start_dt,start_v,end_dt,end_v, charge_v,charge_h ) select @bottom_dt,@bottom_voltage, @pre_dt, @pre_voltage, @pre_voltage-@bottom_voltage, round(cast(DATEDIFF(MINUTE, @bottom_dt, @pre_dt)as float) / cast(60 as float),2)			
			end
		 set  @pre_voltage = @voltage
		 set @pre_dt = @dt
		 Delete #TempTable2 Where serial_id = @serial_id
    end
drop table #TempTable2

select start_dt as '起始時間', end_dt as '結束時間', concat(start_v,' -> ',end_v) as '電壓' , charge_v as '充電電壓', charge_h as '耗時(h)', round(cast(charge_v as float) / cast(charge_h as float), 2)  as '充電率(電壓/小時)' from @out

### 範例三 - 放電

In [ ]:
declare @id NVARCHAR(5) = {{ id }}
declare @begin date = {{ begin }}
declare @end date = {{ end }}
declare @max_mah int = {{ max_mah }}

declare @temp table(dt datetime, voltage float, gsm_sen float, mv int, ma int, mah int)
insert into @temp exec dbo.tag_battery @begin, @end, @id

select 
    row_number() over(order by dt) as serial_id, 
    dt, 
    voltage 
into #TempTable2 
from @temp

declare @serial_id int;
declare @top_dt datetime  = (select top 1 dt from #TempTable2 order by serial_id )
declare @top_voltage int  = (select top 1 voltage from #TempTable2 order by serial_id )
declare @pre_voltage int = @top_voltage
declare @pre_dt datetime = @top_dt
declare @charge tinyint = 1
DECLARE @out TABLE (
start_dt datetime, 
start_v int,
end_dt datetime, 
end_v int,
drain_v int, 
duration_h float,
health float
)
while ( select count(*) from #TempTable2) >0 
	begin 
	     declare @voltage int 
	     declare @dt datetime 
		 Select Top 1 @serial_id = serial_id, @dt = dt, @voltage =voltage  From #TempTable2 order by serial_id 

		 if @voltage > @pre_voltage and @charge = 0 
			begin
				declare @health float 
				select top 1 @health = (mah *100*100) / (voltage*@max_mah) from @temp where ma is not null and dt >= @top_dt and dt <= @pre_dt
				insert into @out (start_dt,start_v,end_dt,end_v,drain_v,duration_h, health) select @top_dt,@top_voltage, @pre_dt, @pre_voltage, @top_voltage-@pre_voltage , round(cast(DATEDIFF(MINUTE, @top_dt, @pre_dt)as float) / cast(60 as float),2), @health
				set @charge = 1 
			end
		 if @voltage < @pre_voltage and @charge =1 
		    begin 
			  set @top_voltage = @pre_voltage
			  set @top_dt = @pre_dt
			  set @charge = 0
			end 
		 if ( ( select count(*) from #TempTable2) = 1 and @charge = 0)
			begin 
				select top 1  @health = (mah *100*100) / (voltage*@max_mah)  from @temp where ma is not null and dt >= @top_dt and dt <= @pre_dt
				insert into @out (start_dt,start_v,end_dt,end_v,drain_v,duration_h, health ) select @top_dt,@top_voltage, @pre_dt, @pre_voltage, @top_voltage-@pre_voltage , round(cast(DATEDIFF(MINUTE, @top_dt, @pre_dt)as float) / cast(60 as float),2), @health		
			end
		 set  @pre_voltage = @voltage
		 set @pre_dt = @dt
		 Delete #TempTable2 Where serial_id = @serial_id
    end
drop table #TempTable2
select start_dt as '起始時間', end_dt as '結束時間',  concat(start_v,' -> ',end_v) as '電壓', drain_v as '消耗電壓', duration_h as '耗時(h)', round(cast(drain_v as float) / cast(duration_h as float), 2)  as '耗電率(電壓/小時)', health as '健康度' from @out

In [4]:
2838*100*100/(95.9*3200)

92.47914494264859

In [6]:
2874*100*100/(100*3200)

89.8125